<main class="text-center cMain">
  <section class="form-signin w-100 m-auto contenedor">

    <form class="caja">
      <img class="mb-4 logo" src="../assets/img/logo.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Registrarse</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="email@example.com">
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/home">Ingresar</button>

    </form>
  </section>

</main>
