.cMain{
  display: flex;
}

.contenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.caja{
  margin-top: 50px;
  width: 30%;
}


.logo{
  height: 150px;
  width: 150px;
  margin: 0;
}

.flotante{
  margin-bottom: 26px;
}